* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
/* Hero */
.hero {
    position: relative;
    width: 100%;
    height: 200px;
    background-image: url("../images/pawel-czerwinski-Qiy4hr18aGs-unsplash.jpg");
}
.material-symbols-outlined {
    font-variation-settings: 'OPSZ' 36 !important;
    font-size: 36px !important;
    color: white;
    position: absolute;
    top: 10px;
    left: 20px;
}
.heroh1 {
    color: white;
    text-align: center;
    line-height: 200px;
    font-size: min(7vw, 72px);
}
.referral {
    color: purple;
    font-size: min(3vw, 11px);
    position: absolute;
    left: 5px;
    bottom: 5px;
}

/* Elements */
.mybutton {
    height: 50px;
    width: 100px;
    color: blue;
    font-size: min(4vw, 20px);
    border-color: purple;
    position: relative;
    top: 24px;
    left: 200px;
    border-radius: 10px;
    z-index: 2;
}
.mybutton:hover {
    background-color: lightgray;
    cursor: pointer;
}
/* main */
.main {
    background-color: hsl(200, 30%, 60%);
    height: 600px;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

/* colors */
.colors {
    width: 300px;
    display: block;
    margin: 0 auto;
}
#box {
    height: 100px;
    width: 170px;
    background-color: rgb(248, 178, 190);
    top: 100px;
    position: relative;
    z-index: 2;
}
.colorbox {
    height: 40px;
    width: 90px;
    position: absolute;
}
#redbox {
    background-color: red;
    top: 10px;
    left: 10px;
}
#yellowbox {
    background-color: yellow;
    top: 30px;
    left: 40px;
}
#bluebox {
    background-color: blue;
    top: 50px;
    left: 70px;
}
.main #colortooltext {
    font-size: min(4vw, 24px);
    color: white;
    padding-top: 20px;
    padding-left: 10px;
}
.main.colorsmain img {
    box-sizing: border-box;
    height: 510px;
    width: 100%;
    padding: 20px;
    object-fit: contain;
}

/* fonts */
.fonts {
    width: 300px;
    display: block;
    margin: 0 auto;  
}
#fontbox {
    height: 100px;
    width: 170px;
    background-color: whitesmoke;
    top: 100px;
    position: relative;
    z-index: 2;
}
#fontbox p {
    text-align: center;
    line-height: 100px;
    font-family: "Cedarville Cursive";
    font-size: 24px;
}
#whitebox {
    height: 95%;
    width: 95%;
    background-color: whitesmoke;
    margin: 0 auto;
    position: relative;
    top: 2.5%;
}
h2#CedarvilleCursive {
    font-family: "Cedarville Cursive";
    text-align: left;
    padding: 1% 5%;
    text-decoration: underline;
}
h2#Roboto {
    font-family: Roboto;
    text-align: left;
    padding: 4% 0 2% 5%;
    text-decoration: underline;
}
#whitebox p {
    font-family: "Cedarville Cursive";
    padding-left: 5%;
    font-size: 20px;
}
#whitebox p.roboto {
    font-family: Roboto;
    padding: 1% 5%;
}
#bold {
    font-weight: bold;
}
#italics {
    font-style: italic;
}

/* text styles */
.styles {
    width: 300px;
    display: block;
    margin: 0 auto; 
}
#stylebox {
    height: 100px;
    width: 170px;
    background-color: whitesmoke;
    font-size: 12px;
    top: 100px;
    position: relative;
    z-index: 2;
}
#stylebox h1 {
    padding-top: 20px;
}
#stylebox h1, h2 {
    text-align: center;
    font-weight: lighter;
}
.textstyles h1, h2, h3 {
    font-family: Roboto;
    text-align: left;
    padding: 20px 0 10px 20px;
}
.textstyles h1 {
    font-weight: 700;
    font-size: 26px;
}
.textstyles h2 {
    font-weight: 500;
    font-size: 18px;
}
.textstyles h3 {
    font-weight: 400;
    font-size: 14px;
}
.textstyles li {
    margin-left: 50px;
}

/* footer */

#myfooter {
    width: 100%;
    height: 50px;
    position: relative;
    background-color: hsl(210, 30%, 55%);
}
.author {
    position: absolute;
    left: 10px;
    bottom: 15px;
    color: white;
    font-size: min(3vw, 14px);
}
.smiley {
    right: 10px;
    bottom: 15px;
    color: white;
    font-size: min(3vw, 14px);
    position: absolute;
    z-index: 2;
}